<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Time
          </th>
          <th>
            Tool
          </th>
          <th>
            Category
          </th>
          <th>
            Edit
          </th>
          <th>
            Activity
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="name" [(ngModel)]="activitytoinsert.name">
          </td>
          <td>
            <input placeholder="time" [(ngModel)]="activitytoinsert.time">
          </td>
          <td>
            <select [(ngModel)]="activitytoinsert.tool" >
              <option *ngFor="let tool of tools" [ngValue]="tool">{{tool.name}}</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="activitytoinsert.category">
              <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            </select>
          </td>
          <td>
            <button (click)="insert(activitytoinsert);clear()">Insert</button>
            <!--
            <button (click)="insert(activitytoinsert)">Insert</button>
            -->
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let activity of activities">
          <td>
            <input [(ngModel)]="activity.name">
          </td>
          <td>
            <input [(ngModel)]="activity.time">
          </td>
          <td>
            <select [(ngModel)]="activity.tool.id">
              <option *ngFor="let tool of tools" [ngValue]="tool.id">{{tool.name}}</option>
            </select>
            <!--
            <input [(ngModel)]="activity.tool.name">
            -->
          </td>
          <td>
            <select [(ngModel)]="activity.category.id">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
              </select>
          </td>
          <td>
            <button (click)="update(activity)">Save</button>
          </td>
          <td>
            <button (click)="delete(activity)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>  
</div>


