*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 100%;
	float: left;
	border-width: 0px;
	border-radius:13px;
	background-color: rgb(124, 124, 124);
	box-shadow: 0 0 0 1px #666;

}
th,td {
	text-align: center;
    padding: 6px;
}
tr {
	background-color: transparent;
}
tbody > tr:nth-child(even) {
	background-color: #f2f2f2be;
}
tbody > tr:nth-child(odd) {
	background-color: white;
}

td {
    font-size: 16px;
}

th {
    color: #ffffff;
}
a:hover {
	color: #999999;
}

input, select{
    background-color: inherit;
	font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid crimson;
}

button:hover{
	background-color: crimson;
}
