<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h1>Tools</h1>
        <table>
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Edit
          </th>
          <th>
            Tool
          </th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>
            <input placeholder="name" [(ngModel)]="tooltoinsert.name">
          </td>
          <td>
            <input placeholder="description" [(ngModel)]="tooltoinsert.description">
          </td>
          <td>
            <button class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)="insert(tooltoinsert);clear()">Insert</button>
          </td>
          <td>
            <button class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let tool of tools">
          <td>
            <input [(ngModel)]="tool.name">
          </td>
          <td>
            <input [(ngModel)]="tool.description">
          </td>
          <td>
            <button class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)=update(tool)>Save</button>
          </td>
          <td>
            <button class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)="delete(tool)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>