form{
    margin-top:270px;
    width: 55%;
    padding: 10px;
    border-radius:0;
    border-color: crimson;
}

img{
    position: inherit;
    width:50%;
    margin: 12%;
}

input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: rgba(218, 33, 23, 0.774);
    border-radius: 25px;
    color: white;
    border-bottom: 1px solid #34F156;
    margin: 0px; 
}

.container-fluid{
    background-image: url("../../assets/Tecnica-del-Pomodoro-Aumentare-la-propria-produttività.jpg");
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F1ECE7;
}
input::placeholder{
    color: white;
}
.form-control{
border: none;
background-color: rgba(43, 195, 71, 0.76);
color: white;
border-bottom: 1px solid white;
border-radius: 25px;
}

.login{
border: none;
background-color: rgba(218, 33, 23, 0.774);
color: white;
border: 1px solid white;
border-radius: 25px;
padding-top: 10px;
padding-right: auto;
padding-bottom: 10px;
padding-left: auto;
}

p{
font-size: 14px;
color: black;
}