.sidenav {
    height:92vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(172, 17, 9, 0.904);
    overflow-x: visible;
    transition: 0.5s;
    padding-top: 0;
    position: relative;
  }
  
  
  .menubtn{
      width: 100%;
      text-align: left;
      background-color: rgba(172, 17, 9, 0.904);
      color: #f1f1f1;
      border: none;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  
  a{
      text-decoration: none;
      color: white;
  }
  
  button:focus {
      background-color: #334247;
  }
  
  button:hover, a:hover {
  background-color: #334247;
  color: rgba(43, 195, 71, 0.76);
  }

  *{
      font-size: 16px;
  }
  .orazio {
    position: absolute;
    bottom: 0%;
    width: 100%;
  }