<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
     <h1>Categories</h1>
     <table>
       <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Tool
          </th>
          <th>
            Edit
          </th>
          <th>
            Category
          </th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>
            <input placeholder="name" [(ngModel)]="categorytoinsert.name">
          </td>
          <td>
            <input placeholder="description" [(ngModel)]="categorytoinsert.description">
          </td>
          <td>
            <select [(ngModel)]="categorytoinsert.tool" >
              <option *ngFor="let tool of tools" [ngValue]="tool">{{tool.name}}</option>
            </select>
          </td>
          <td>
            <button type="button" class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)="insert(categorytoinsert);clear()">Insert</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let category of categories">
          <td>
            <input [(ngModel)]="category.name">
          </td>
          <td>
            <input [(ngModel)]="category.description">
          </td>
          <td>
            <select [(ngModel)]="category.tool.id">
              <option *ngFor="let tool of tools" [ngValue]="tool.id">{{tool.name}}</option>
            </select>
          </td>
          <td>
            <button type="button" class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)=update(category)>Save</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" style="font-size:12pt;box-shadow: -3px 1px 2px black;" (click)="delete(category)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>