<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
     <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Edit
          </th>
          <th>
            Category
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="name" [(ngModel)]="categorytoinsert.name">
          </td>
          <td>
            <input placeholder="description" [(ngModel)]="categorytoinsert.description">
          </td>
          <td>
            <button (click)="insert(categorytoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let category of categories">
          <td>
            <input [(ngModel)]="category.name">
          </td>
          <td>
            <input [(ngModel)]="category.description">
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)=update(category)>Save</button>
          </td>
          <td>
            <button (click)="delete(category)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>