<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
     <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Tool
          </th>
          <th>
            Edit
          </th>
          <th>
            Category
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="name" [(ngModel)]="categorytoinsert.name">
          </td>
          <td>
            <input placeholder="description" [(ngModel)]="categorytoinsert.description">
          </td>
          <td>
            <select [(ngModel)]="categorytoinsert.tool" >
              <option *ngFor="let tool of tools" [ngValue]="tool">{{tool.name}}</option>
            </select>
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="insert(categorytoinsert);clear()">Insert</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let category of categories">
          <td>
            <input [(ngModel)]="category.name">
          </td>
          <td>
            <input [(ngModel)]="category.description">
          </td>
          <td>
            <select [(ngModel)]="category.tool.name">
              <option *ngFor="let tool of tools" [ngValue]="tool.name">{{tool.name}}</option>
            </select>
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)=update(category)>Save</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="delete(category)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>